---
title: Stylme
---


  <div id="banner">
    <div class="descendant">
      <h1>
        Styl.me
      </h1>
      <br>
      </br>
      <p>
        Turn your pen into you best friend
      </p>
      <p>
        Make every line you write count.
      </p>
      <br>
      </br>
      <a id="margin-l" class="btn btn-primary btn-lg radius" href="https://www.linkedin.com/profile/view?id=138658107&trk=nav_responsive_tab_profile" target="_blank">
        GET MY STYL
      </a>
    </div>
  </div>
    <div class="bg-blue padded text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="images/paper.svg" alt="">
              <h2>
                Natural writing
              </h2>
              <p>
                Don't change your habits, write with a pen
                <strong>
                  on paper notebooks
                </strong>
              </p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="images/computer.svg" alt="">
              <h2>
                Sync. copy
              </h2>
              <p>
                Stylus instantaneously copy your text on your comp…
                <strong>
                  in real-time
                </strong>
              </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="images/analytics.svg" alt="">
            <h2>
              Analytics
            </h2>
            <p>
              Get feedbacks on the way you write,
                <strong>
                  your favorite words, your frequent mistakes
                </strong>
            </p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="images/data.svg" alt="">
              <h2>
                  Storing your texts
              </h2>
              <p>
                  Everything line writen with your stylus is stored in the cloud, so that
                  <strong>
                    it's never lost
                  </strong>
              </p>
          </div>
        </div>
      </div>
    </div>
  <div class="text-center padded">
    <h2>
        Get news from stylme
    </h2>
    <p>
        Leave us your mail and get stylme news
    </p>
    <form class="form-inline">
      <input class="form-control" type="email" placeholder="john-bob@gmail.com">
      </input>
      <input class="btn btn-primary radius" type="submit" value="Subscribe">
      </input>
      <span style="opacity: 1; left: 673.233px; top: 2077.5px; width: 19px; min…m none; display: inline; visibility: visible; z-index: auto;">
      </span>
    </form>
  </div>