/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.padded2 {
  padding-top: 2em;
  padding-bottom: 2em;
}
.padded3 {
  padding: 6px;
}
.radius {
  border-radius: 10px;
}
.color-gray{
  color: $th-gray;
}
.margin {
  margin: 5px;
  background: white;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
.bg-th-gray {
  background: $th-gray;
  color: white;
}
.bg-lightpurp {
  background: $light_purpule;
  color: white;
}
.bg-lightgray {
  background: $light_gray
}
.center-bg {
  width: 450px;
  margin: auto;
}
